.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh; // header uses 95vh & clip path only goes to 75vh--thus 95-75 = 20vh which places our bg-color -25vh higher to cover the white gap
}